@model ARSN.Models.Competition

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Competition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportType" class="control-label"></label>
                <input asp-for="SportType" class="form-control" />
                <span asp-validation-for="SportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionBegin" class="control-label"></label>
                <input asp-for="CompetitionBegin" class="form-control" />
                <span asp-validation-for="CompetitionBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionEnd" class="control-label"></label>
                <input asp-for="CompetitionEnd" class="form-control" />
                <span asp-validation-for="CompetitionEnd" class="text-danger"></span>
            </div>
            <div class="hidden" id="remove_hidden_manual">
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="col-md-10">
                        <select id="list_home" name="HomeTeam" class="form-control" asp-items="ViewBag.HomeTeam">
                            <option value="">--Select Home Team--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="col-md-10">
                        <select id="list_away" name="AwayTeam" class="form-control" asp-items="ViewBag.AwayTeam">
                            <option value="">--Select Away Team--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input id="list_it" type="button" name="button" value="Dodaj timove u natjecanje" class="btn btn-default" />
                </div>

                <div id="message">
                    <textarea id="messageArea" name="TeamList" class="form-control" readonly></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" value="Stvori natjecanje ručno" class="btn btn-default" />
                </div>
            </div>





            <div class="hidden" id="remove_hidden_automatic">
                <div class="form-group">
                    <label class="control-label"></label>
                    <div class="col-md-10">
                        <select id="Automatic" name="Automatic" class="form-control" asp-items="ViewBag.HomeTeam">
                            <option value="">--Select Team--</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <input id="list_it" type="button" name="button" value="Dodaj timove u natjecanje" class="btn btn-default" />
                </div>

                <div id="message">
                    <textarea id="messageAreaAutomatic" name="TeamList" class="form-control" readonly></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" value="Stvori natjecanje automatski" class="btn btn-default" />
                </div>
            </div>



            <div class="form-group">
                <input type="submit" name="button" value="Dodaj timove" class="btn btn-default" />
            </div>
            <div class="form-group">
                <input type="button" id="show_button_manual" name="button" value="Ručno dodavanje parova" class="btn btn-default" />
            </div>
            <div class="form-group">
                <input type="button"id="show_button_automatic" name="button" value="Automatsko dodavanje parova" class="btn btn-default" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

}