@model ARSN.Models.Competition

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Competition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportType" class="control-label"></label>
                <input asp-for="SportType" class="form-control" />
                <span asp-validation-for="SportType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionBegin" class="control-label"></label>
                <input asp-for="CompetitionBegin" class="form-control" />
                <span asp-validation-for="CompetitionBegin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionEnd" class="control-label"></label>
                <input asp-for="CompetitionEnd" class="form-control" />
                <span asp-validation-for="CompetitionEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" value="Stvori natjecanje" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
