@model ARSN.ViewModels.RegisterViewModel

<h2> Registration Page</h2>

<form method="post" asp-controller="Account" asp-action="Register">

    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" />
        <span asp-validation-for="Surname"></span>
    </div>
    <div>
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" />
        <span asp-validation-for="BirthDate"></span>
    </div>
    <div>
        <label asp-for="Organisation"></label>
        <input asp-for="Organisation" />
        <span asp-validation-for="Organisation"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="Gender"></label>
        <input asp-for="Gender" />
        <span asp-validation-for="Gender"></span>
    </div>
    <div><input type="submit" value="Register" /></div>
</form>