@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Kontaktirajte nas na <a href="mailto:arsnferit@protonmail.com?Subject=Upit%20sa%20ARSN%20stranice">arsnferit@protonmail.com</a></p>
