@{
    ViewData["Title"] = "Home Page";
}
<div class="col-md-3"></div>
<div class="col-md-6">
    <p>
        ARSN je web aplikacija koja omogućuje pregled sportskih natjecanja, rezultata
        natjecanja i parove sudionika natjecanja. Također, web aplikacija omogućuje registriranje
        organizatora natjecanja koji će imati dodatnu mogućnost dodavanja sudionika natjecanja i
        unos rezultata, dok će web aplikacija generirati parove koji će igrati.
    </p>
    <br /><br />
    <p>
        ARSN omogućuje organizatorima mogućnost unošenja novih timova, natjecanja ovisno o sportu, rezultata novih sportova,
        automatsko generiranje ždrijeba ili ručno dodavanje parova u jednome turniru te generiranje kola i prikaz vizualizacije tog natjecanja.
        Korisnici mogu vidjeti rezultate natjecanja u tabličnom obliku ili kao graf te detalje o svakome natjecanju, timu, kolu itd.
    </p>
    <br /><br />
    <p>
        ARSN je napravljen kao alat za vođenje rezultata sportskih natjecanja i sadrži 3 glavna i najpopularnija sporta koji se igraju na njima:
        <ul>
            <li>Nogomet</li>
            <li>Košarku</li>
            <li>Rukomet</li>
        </ul>
    </p>
    <br/> <br/>
    <p>
        ARSN je napravljen kao projekt u sklopu kolegija Osiguranje kakvoće programske podrške i napravljen je koristeći ASP.NET Core MVC tehnologiju kao osnovu projekta.
        Za generiranje baze podataka korišten je Entity Framework Core. Zato što je Core projekt moguće ga je koristiti na više platformi.
    </p>
</div>
<div class="col-md-3"></div>