@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Pojavila se greška pri procesiranju vašeg zahtjeva.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Prebacivanje na <strong>Development</strong> okruženje će prikazati detaljnije zašto je došlo do greške.
</p>
<p>
    <strong>Development okruženje ne bi trebalo biti kod objavljenje aplikacije</strong>, jer može sadržavati osjetljive informacije do "exception-a" koji mogu biti prikazani korisniku. Za lokalno debagiranje, development okruženej može biti postavljeno korištenjem <strong>ASPNETCORE_ENVIRONMENT</strong> varijable okruženja za <strong>Development</strong> i resetiranjem aplikacije.
</p>
