@model ARSN.Models.Round

@{
    ViewData["Title"] = "Delete";
}


<div>
    <h2>Brisanje</h2>

    <h3>Jeste li sigurni?</h3>

    <h4>Kolo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RoundID" />
        <input type="submit" value="Brisanje" class="btn btn-default" /> |
        <a asp-action="Index">Povratak</a>
    </form>
</div>
